#wanikaniFrame {
  height: 100%;
  width: 350px;
  overflow-y: hidden;
  border: 0;
}
::-webkit-scrollbar {
  height: 9px;
  width: 9px;
  background: #FFF;
}
::-webkit-scrollbar-thumb {
  background: #999;
}
div.iframe {
  min-height: 94%;
  height: 94%;
}
div.closePanel {
  background-color: #666;
  min-height: 6%;
  height: 6%;
  text-align: left;
  font-size: 25px;
}
div.closePanel:hover {
  background-color: #333;
  transition: 0.5s;
}
div.closePanel > a {
  position: relative;
  left: 5px;
  top: -3px;
}